<header>
    <div class="container">
        <!-- <img src="https://e7.pngegg.com/pngimages/420/873/png-clipart-t-shirt-hoodie-nasa-insignia-crew-neck-t-shirt-angle-text-thumbnail.png" alt="spacex"> -->
        <a class="logo">{{title}}</a>
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/">About</a></li>
                <li><a href="#" routerLink="/">Sign up</a></li>
            </ul>
        </nav>
    </div>
</header>