/* .main{
    font-weight: bold;
    margin: 2em 15em;
    width: 15em;
    height: 2em;
    border:solid 0.07em #2B344A;
    border-radius: 1em;
} */
.info {
    text-align: center;
    position: absolute;
    margin: 5em 3em;
    padding: 2em;
    width: 20em;
    height: 4em;
    border: gray solid 0.05em;
    border-radius: 1em;

}