<p>{{greet}}</p>
<div class="all">
    <div class="container">
        <div class="centered">
            Galaxies
        </div>
        <img (click)="sendmess()"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/1200px-NGC_4414_%28NASA-med%29.jpg">
    </div>
    <div class="container">
        <div class="centered">
            Stars
        </div>
        <img (click)="sendmess2()" src="https://cdn.mos.cms.futurecdn.net/vsFaP53Vkv4FjNjizz2yvb-320-80.jpg">
    </div>
    <div class="container">
        <div class="centered">
            Planets
        </div>
        <img (click)="sendmess3()"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Planets2013.svg/1200px-Planets2013.svg.png">
    </div>
</div>